body {
    background-color: whitesmoke;
}

.nav {
    display: flex;
    justify-content: space-between; /* to create a space around the logo and list items*/
    margin: 0 30px;
}
.list{
    list-style-type: none;
}
.list li {
    display: inline;
    font-size: 1.1em;
    margin: 10px ;
    color: purple;
}
.list :nth-child(5){
    border: 1px solid blue ;
    padding: 5px 15px;
    color: blue;
}

/* Hero-section styling */
.herosection {
    display: flex;
    justify-content: space-around;
    margin-top: 7% ;
}
.herosection-div {
    width: 50%;
    margin-left: 10%;
}
.herosection-div h1 {
    font-size: 55px;
    width: 65%;
    margin-top: 0;
    margin-bottom: 0;
}
.herosection-div p{
    width: 70%;
    line-height: 1.5rem;
    font-size: 1.2rem;
    color: rgb(11, 11, 146);
}
.herosection-img{
    width: 50%;
}
.image{
    width: 95%; 
    margin-left: -100px;
}
.hero-button{
    display: flex;
    margin-top: 7%;
}
.herobutton-style:hover{
    background-color: purple;
    color: black;
}
.herobutton-style{
    background-color: blue;
    color: white;
    border-radius: 5px;
    font-size: 0.8rem;
    padding: 15px 25px 15px 25px;
    border: blue;
    margin-right: 5%;
}

/* First session for card and icon */
.card-icon{
    display: flex;
    margin: 10% 12% 5% 12%;
}
.card-icon-divs{
    background-color: rgb(252, 252, 252);
    margin-right: 1px;
    border-radius: 5px;
}
.card-img{
    margin: 10% 0 0 30%;
}
.card-icons-p{
    text-align: center;
    margin: 20px 30px 20px 30px;
    line-height: 1.7em;
    color: grey;
}
.card-icons-h3{
    text-align: center;
    margin: 20px 30px 20px 30px;
    color: purple;
}

/* Join a Class/course section */
.Join-a-course{
    display: flex;
    margin-top: 10%;
    justify-content: space-around;
    margin-bottom: 5%;
}
.join-class{
    width: 50%;
    margin-left: 5%;
    margin-right: 0;
}
.join-class-text{
    width: 50%;
    margin-left: -80px;
}
.Join-Course{
    width: 70%; 
}
.join-class-text h1{
    font-size: 50px;
    width: 65%;
    margin-top: 0;
    margin-bottom: 0;
}
.join-course-btn{
    background-color: blue;
    color: white;
    border-radius: 5px;
    font-size: 0.8rem;
    padding: 15px 25px 15px 25px;
    border: blue;
    margin-top: 3%;
}
.join-class-text h3{
    color: purple;
}
.join-class-text p{
    color: rgb(36, 1, 36);
    font-size: 1.2rem;
    width: 90%;
}

/* get-course section */
.Get-a-course{
    margin-top: 15%;
}
.course-icons{
    display: flex;
}

.get-course-h1{
    font-size: 3.2em;
    color: rgb(58, 52, 52);
}
.chev-icons{
display: flex;
   margin-left: 40%;
   margin-top: 7%;
}
.left-icon{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 1px solid blue ;
    margin-right: 10px;
    font-size:40px;
    color: blue;
}
.right-icon{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: rgb(51, 51, 236);
    margin-right: 10px;
    font-size:40px;
    color: white;
}
.courses-div{
    display: flex;
    margin-left: 7%;
}
.courses-img{
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.courses-img3{
    width: 100%;
    height: 57%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.course-cards{
    height: 370px;
    margin-left:  25px;
    width: 30%;
    background-color: white;
    border-radius: 7px;
}
.Instructor{
    border-radius: 50%;
    margin-left: 70%;
    margin-top: -35px;
}
.course-cards h1{
margin-left: 35px;
margin-top: -10px;
color: rgb(39, 39, 85);
}
.h3-text{
    color: purple;
    margin-right: 3px;
}
.h3-text2{
    color:rgb(39, 39, 85);
}
.course-text{
    display: flex;
    margin-left: 35px;
    margin-top: -30px;
}
