body {
    background-color: whitesmoke;
    font-family: Poppins,sans-serif;
}

.nav {
    display: flex;
    justify-content: space-between; /* to create a space around the logo and list items*/
    margin: 0 7%;
}
.list{
    list-style-type: none;
}
.list li {
    display: inline;
    font-size: 1.1em;
    margin: 10px ;
}
.list a {
    text-decoration: none;
}
.login-nav{
    border: 1px solid #4e66f8 ;
    padding: 5px 15px;
    color: purple;
}
.login-nav:hover{
    background-color: #4e66f8;
    color: white;
    
}
.signup-nav{
    padding: 5px 15px;
    background-color: #4e66f8;
    color: white;
}


/* Hero-section styling */
.herosection {
    display: flex;
    justify-content: space-around;
    margin-top: 7% ;
}
.herosection-div {
    width: 60%;
    margin-left: 10%;
}
.herosection-div h1 {
    font-size: 55px;
    width: 65%;
    margin-top: 0;
    margin-bottom: 0;
}
.herosection-div p{
    width: 70%;
    line-height: 1.5rem;
    font-size: 1.2rem;
    color: rgb(11, 11, 146);
}
.herosection-img{
    width: 50%;
}
.image{
    width: 95%; 
    margin-left: -100px;
}
.hero-button{
    display: flex;
    margin-top: 7%;
}
.herobutton-style:hover{
    background-color: purple;
    color: black;
}
.herobutton-style{
    background-color: #4e66f8;
    color: white;
    border-radius: 5px;
    font-size: 0.8rem;
    padding: 15px 25px 15px 25px;
    border: #4e66f8;
    margin-right: 5%;
}

/* First session for card and icon */
.card-icon{
    display: flex;
    margin: 10% 12% 5% 12%;
}
.card-icon-divs{
    background-color: rgb(252, 252, 252);
    margin-right: 1px;
    border-radius: 5px;
}
.card-img{
    margin: 10% 0 0 30%;
}
.card-icons-p{
    text-align: center;
    margin: 20px 30px 20px 30px;
    line-height: 1.7em;
    color: grey;
}
.card-icons-h3{
    text-align: center;
    margin: 20px 30px 20px 30px;
    color: purple;
}

/* Join a Class/course section */
.Join-a-course{
    display: flex;
    margin-top: 10%;
    justify-content: space-around;
    margin-bottom: 5%;
}
.join-class{
    width: 50%;
    margin-left: 5%;
    margin-right: 0;
}
.join-class-text{
    width: 50%;
    margin-left: -80px;
}
.Join-Course{
    width: 70%; 
}
.join-class-text h1{
    font-size: 50px;
    width: 65%;
    margin-top: 0;
    margin-bottom: 0;
}
.join-course-btn{
    background-color: #4e66f8;
    color: white;
    border-radius: 5px;
    font-size: 0.8rem;
    padding: 15px 25px 15px 25px;
    border: #4e66f8;
    margin-top: 3%;
}
.join-class-text h3{
    color: purple;
}
.join-class-text p{
    color: rgb(36, 1, 36);
    font-size: 1.2rem;
    width: 90%;
}

/* get-course section */
.Get-a-course{
    margin-top: 10%;
}
.course-icons{
    display: flex;
}

.get-course-h1{
    font-size: 3.2em;
    color: rgb(58, 52, 52);
}
.chev-icons{
   display: flex;
   margin-left: 50%;
   margin-top: 7%;
}
.left-icon{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    border: 1px solid #4e66f8 ;
    margin-right: 10px;
    font-size:40px;
    color: #4e66f8;
}
.right-icon{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: rgb(51, 51, 236);
    margin-right: 10px;
    font-size:40px;
    color: white;
    border: none;
}
.courses-div{
    display: flex;
    margin-left: 7%;
}
.courses-img{
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.courses-img3{
    width: 100%;
    height: 57%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.course-cards{
    height: 370px;
    margin-left:  25px;
    width: 30%;
    background-color: white;
    border-radius: 7px;
}
.Instructor{
    border-radius: 50%;
    margin-left: 70%;
    margin-top: -35px;
}
.course-cards h1{
margin-left: 35px;
margin-top: -10px;
color: rgb(39, 39, 85);
}
.h3-text{
    color: purple;
    margin-right: 3px;
}
.h3-text2{
    color:rgb(39, 39, 85);
}
.course-text{
    display: flex;
    margin-left: 35px;
    margin-top: -30px;
}



/* Our Student section */
.ourstudent{
    display: flex;
    margin-top: 12%;
    justify-content: space-around;
    margin-bottom: 5%;
}
.ourstudent-text{
    width: 70%;
    margin-left: 7%;
}
.ourstudent-text h1{
    font-size: 50px;
    width: 70%;
    margin-top: 0;
    margin-bottom: 0;
}
.ourstudent-btn{
    background-color: #4e66f8;
    color: white;
    border-radius: 5px;
    font-size: 0.8rem;
    padding: 15px 25px 15px 25px;
    border: #4e66f8;
    margin-top: 3%;
}
.ourstudent-text h3{
    color: purple;
}
.ourstudent-text p{
    color: rgb(54, 54, 136);
    font-size: 1.2rem;
    width: 90%;
}
.ourstudentdiv-img{
    width: 50%;
    margin-right: 5%;
}
.ourstudent-img{
    width: 100%; 
}

/* footer section */
.foot-sect {
    background-image: url("/Assets/Image/background.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    position: relative;
}
.footer-section{
    display: flex;
    justify-content: space-around;
    margin: 6% 3% 2% 3%;
}
.footer-header{
    color: rgb(39, 39, 85);
}
.foot-sect p{
    color: purple;
}
.socials i{
    margin-right: 5px;
    margin-top: 10px;
    padding: 10px 5px 0px 5px;
    text-align: center;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    color: #4e66f8;
    background-color: rgb(218, 207, 207);
}

/* signup section */
.signup-sect{
margin-left: 15%;
margin-right: 15%;
background-color: rgb(236, 236, 241);
border-radius: 5px;
margin-top: 5%;
height: 750px;
}
.login-sect{
    margin-left: 15%;
    margin-right: 15%;
    background-color: rgb(236, 236, 241);
    border-radius: 5px;
    margin-top: 5%;
    height: 710px;
    }
.signup-flex{
    display: flex;
    margin: 7% 5%;
    padding-top: 7%;
}
.signup-right{
    background-color: rgb(110, 110, 197);
    width: 50%;
}
.signup-left{
    width: 50%;
    background-color: white;
    padding-left: 10%;
    padding-bottom: 5%;
}
.img-signup{
    padding: 40% 40px 40px 40px;
    width: 80%;
}
.signup-button{
   background-color: rgb(110, 110, 197); 
   border: none; 
   width: 70%;
   padding: 10px;
   color: white;
   border-radius: 5px;
}
.signup-form{
    width: 69%;
    border: 1px solid rgb(236, 230, 230);
    height: 30px;
}


/* userDashboard styling */
body {
    /* background-color: #f8f9fa; */
    background-color: #e9e6ef;
  }
  
  .userHeader {
    margin-top: 5%;
    text-align: center;
    font-size: larger;
  }

  .user-section {
      background-color: white;
      margin-top: 15%;
  }

  .Featured-courses {
      display: flex;
      margin-left: 5%;
      margin-right: 5%;
  }

  .featuredcourse-img{
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.featuredcourse-cards{
    margin-bottom: 5%;
    margin-left:  25px;
    width: 20%;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* viewCorse Styling */
.desc-course-flex {
    display: flex;
    margin-top: 2%;
}

.comment-btn {
color: #4e66f8;
padding: 12px 25px;
border: 1px solid #4e66f8;
background-color: white;
border-radius: 5px;
font-weight: bolder;
letter-spacing: 2px;
margin-bottom: 3%;
}

.comment-btn:hover{
    background-color: #4e66f8;
    color: white;
    padding: 10px 25px;
}

.comments-icon-btn {
    padding: 10px 15px;
    border: 1px solid #f8f9fa;
    color: #868e96;
    border-radius: 5px;
    font-size: 1.1em;
}

.viewCourse-cards {
    
    width: 70%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}

.viewCourse-img{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.go-to-course-btn {
    margin-left: 7%;
    padding: 4% 7%;
    font-weight: bolder;
    letter-spacing: 2px;
    color: #fff;
    background-color: #4e66f8;
    border: 1px solid #fff;
    border-radius: 7px;
}

.go-to-course-btn:hover {
    background-color: #007bff;
}

.circle {
        position: relative;
        display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
   
  .circle:hover .dropdown-menu {
    display: block;
    background-color: #e9e6ef;
  } 